// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Настройки стилей по умолчанию
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Шрифты
$fontFamily: "Lato"; // Шрифт по умолчанию
$fontRaleway: "Raleway";
$fontSize: 18; // Размер шрифта по умолчанию (где 16 - размер шрифта по умолчанию из макета)

// Основные цвета
$mainColor: var(--main-color); // Цвет шрифта по умолчанию
$primaryColor: var(--primary-color);
$secondaryColor: var(--secondary-color);
$lastColor: var(--third-color);
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Настройки адаптивной сетки
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1170;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпойнта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейкпойнты
$pc: $containerWidth; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98; // Телефоны L
$mobileSmall: 479.98; // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпойнтов),
// 2 = по брейкпойнтам (контейнер меняет свою ширину по брейкпойнтам)
$responsiveType: 1;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
