// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Подключение CSS-переменных
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@use "includes/variables.css";
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Подключение общих удаленных шрифтов (Google Fonts)
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Стили тега BODY
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

html {
	/* Webkit-based browsers */
	&::-webkit-scrollbar {
		width: 8px;
		background-color: #272733e5;
		border-radius: 4px;
	}

	&::-webkit-scrollbar-track {
		background-color: #3d4050d9; // фон трека
		border-radius: 4px;
	}

	scrollbar-width: thin;
	scrollbar-color: $primaryColor #3d4050d9;
}
body {
	min-width: #{$minWidth}px;
	color: $mainColor;
	font-family: $fontFamily;
	font-size: #{$fontSize}px;

	// Скролл заблокирован
	[data-fls-scrolllock] & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт загружен
	[data-fls-loaded] & {
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Оболочка WRAPPER
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Ограничивающий контейнер
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Стили будут применяться ко
// всем классам, содержащим *__container
// Например header__container, main__container и т.п.
// Сниппет (HTML): cnt

@if ($responsiveType==1) {
	// Отзывчивый
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: #{$containerWidth}px;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// По брейкпойнтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: #{$maxWidthContainer}px;
		} @else {
			@if ($containerPadding>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			}
		}
		@media (max-width: toEm($pc)) {
			max-width: 970px;
		}
		@media (max-width: toEm($tablet)) {
			max-width: 750px;
		}
		@media (max-width: toEm($mobile)) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Общие стили для всего сайта
.ibg {
	@extend %ibg;
	&--bottom {
		object-position: bottom;
	}
	&--top {
		object-position: top;
	}
	&--right {
		object-position: right;
	}
	&--left {
		object-position: left;
	}
	&--contain {
		object-fit: contain;
	}
}

.title {
	font-weight: 700;
	text-transform: uppercase;
	@include adaptiveValue("font-size", 48, 20);
	span {
		color: $primaryColor;
	}
}
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
