<section data-fls-banner class="home__banner banner">
	<img class="banner__image ibg" src="@img/banner.png" alt="Изображение">
	<div class="banner__container">
		<div class="banner__content">
			<h1 class="banner__title title"><span>Lorem ipsum</span> dolor sit <br> amet
				consectetur <span>adipiscing</span></h1>
			<div class="banner__item item-banner">
				<h5 class="item-banner__title">At vero eos et accusamus et iusto odio dignissimos ducimus!</h5>
				<ul class="item-banner__list">
					<li class="item-banner__item">- Totam rem aperiam eaque ipsa</li>
					<li class="item-banner__item">- Sit voluptatem accusantium doloremque laudantium</li>
					<li class="item-banner__item">- Sed ut perspiciatis, unde omnis iste natus error</li>
				</ul>
			</div>
			<div class="banner__row row-banner">
				<a data-fls-button href="#" class="row-banner__button button button_order">заказать</a>
				<a data-fls-button href="#" class="row-banner__button button button_more">подробнее</a>
			</div>
		</div>
	</div>
</section>